@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  background-color: transparent !important;
}

.cm-focused {
  outline: none !important;
}

.cm-gutters {
  background-color: #272727 !important;
  border: none !important;
}

.cm-activeLineGutter {
  background-color: transparent !important;
}

.cm-activeLine {
  background-color: transparent !important;
}

.cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: #545454 #00000000;
}